.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

a {
  color: #FFA500 !important;
}

.controls-arrow {
  color: #FFA500 !important;
}

.keyword {
  color: #FFA500
}

.avatar {
  border-radius: 50% !important;
}

.noshadow {
  box-shadow: none !important;
}